.container {
    display: grid;
    grid-auto-rows: minmax(150px,auto);
    place-items: center;
}

.section {
display: none;
width: 100%;
grid-row: 3/4;
grid-column: 1/10;
}

.section.active {
display: block;
}

nav {
    grid-column: 1/10;
list-style: none;
margin:0;
padding: 0;
display: flex;
align-items: center;
}
.nav button {
background: #ccc;
padding: 10px 15px;
margin-left: 6px;
border-radius: 50%;
cursor: pointer;
opacity: .5;
border: none;
}

.next,
.previous {
padding: 15px 10px;
border-radius: 6px;
background: deepskyblue;
color: white;
border:0;
outline: none;
cursor: pointer;
width: 100px;
visibility: hidden;
}

.button-active {
opacity: 1 !important;
visibility: visible;
}
